var icerik = `
<div class="row">
    <div class="col-md-4">
        <img
            src="assets/tema/belediye/uploads/etkinlik/8-mart-dunya-kadinlar-gunu.jpg"
            alt="8 Mart Dünya Kadınlar Günü"
            class="img-responsive etkinlik_a"
        />
        <p class="bg-warning etkat"></p>
    </div>
    <div class="col-md-8">
        <table class="table table-hover" style="margin-bottom: -15px">
            <tbody>
                <tr>
                    <th scope="row">
                        <i class="fa fa-bookmark fagns"> </i> Etkinlik
                    </th>
                    <td>8 Mart Dünya Kadınlar Günü</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="fa fa-calendar fagns"> </i> Başlama Tarihi
                    </th>
                    <td>08 Mart 2020, 09:18</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="fa fa-calendar-o fagns"> </i> Bitiş Tarihi
                    </th>
                    <td>,</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="fa fa-map-marker fagns"> </i>
                        Yer
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <a
                            href="etkinlik/8-mart-dunya-kadinlar-gunu.html"
                            title="8 Mart Dünya Kadınlar Günü"
                        >
                            <i class="fa fa-external-link-square"> </i>
                            <strong> ETKINLIK DETAYI </strong>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
`;
